*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
.hero{
    width: 100;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    display: inline-block;
    font-size: 18px;
    padding: 24px 70px;
    background: #d20fcf;
    color: #fff;
    border-radius: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    box-shadow: 0 2px 25px rgba(193, 14, 160, 0.5);
}
.btn:active{
    background: #d80972;
    box-shadow: 0 2px 25px rgba(247, 79, 216, 0.5);;
}
.btn span{
    background: #ff1876;
    border: 1px solid #ff1876;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    position: absolute;
}

.btn span:nth-child(1){
    top: -20%;
    left: -10%;
}
.btn span:nth-child(2){
    top: -130%;
    left: 0;
}
.btn span:nth-child(3){
    top: -50%;
    left: 10%;
    background: transparent;
}
.btn span:nth-child(4){
    top: 100%;
    left: 10%;
}
.btn span:nth-child(5){
    top: -70%;
    left: -10%;
}
.btn span:nth-child(6){
    top: 920;
    left: 10%;
}
.btn span:nth-child(7){
    top: 40%;
    left: -10%;
    background: transparent;
}
.btn span:nth-child(8){
    top: -80%;
    left: 10%;
}
.btn span:nth-child(9){
    top: 100%;
    left: 20%;
}
.btn span:nth-child(10){
    top: -20%;
    left: -10%;
    background: transparent;
}